.root {
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control {
  min-width: 40px;
  align-self: flex-start;
  position: relative;
}

.arrowCommon {
  transition: transform 0.15s ease;
  position: relative;
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  top: 0.7rem;
  margin: 0 auto;
  border-top: 0.4rem solid #7d7c79;
  border-bottom: none;
}

.downArrow {
  transform: scaleY(1);
}

.upArrow {
  transform: scaleY(-1);
}

.filterCommon {
  display: flex;
}

.allFilters {
  flex-wrap: wrap;
  justify-content: space-around;
}

.hideFilters {
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
